*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,body{
height: 100%;
width: 100%;
background-color: black;
color:wheat;

}
main{
width: 100%;
}
html{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.view-1{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
padding: 2rem 4rem;

img{
width: 60%;
object-fit: cover;
}

h1{
font-size: 3.8rem;
text-align: center;
font-weight: 100;
}
p{
text-align: center;
font-weight: 100;
font-size: 1.2rem;
line-height: 1.4;
margin: 0.9rem 0;
opacity: 0.9;

br{
display:none;
}

}


}

// 100vw =1300px
// 10vw =130px
// 1vw =13px
// 0.1vw =1.3px


// 1rem =16px

.view-2{
width:100%;
padding: 2rem 3rem;
display: flex;
justify-content: center;

.marquee{
    display: flex;
    width: 100%;
    overflow: hidden;
    position:relative;
    z-index: 0;
    &::after{
        content: "";
        height: 100%;
        width: 60%;
        background-image: linear-gradient(to right, #0e0e0e, transparent);
        position: absolute;
        top:0;
        left: 0;
        z-index: 1;
    }
    &::before{
        content: "";
        height: 100%;
        width:60%;
        background-image: linear-gradient(to left, #0e0e0e, transparent);
        position: absolute;
        top:0;
        right: 0;
        z-index: 1;
    }
}

.text{
    display: flex;
    gap: 3rem;
    padding: 0 1.5rem;
    animation:marquee 10s linear infinite both;

    p{
    font-size: 2rem;
    font-weight: 300;

    }
}
}

@keyframes marquee{
0%{
    transform: translateX(0%);
}
100%{
transform:translatex(-100%)

}
}
@media(min-width:1020px){

html{
    font-size:clamp(16px, 1vw, 20px);
}
.view-1{
img{
    width: 28%;
}
h1{
    font-size: 8.5rem;
}
p{
    font-size: 1.5rem;

}
br{
    display: block;
}
}
.view-2{
.marquee{
    width: 70%;
}
}
}